<div class="user-management">
    <h1>Gestión de Usuarios</h1>
    <div class="search-bar">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Buscar usuario..." />
    <button (click)="searchUsuarios()">Buscar</button>
    </div>
    
    <table class="user-table">
    <thead>
        <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @for(usuario of usuarios; track usuario){
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.roles[0]?.nombre }}</td>
                <td>
                    <button (click)="editUsuario(usuario)">Editar</button>
                    <button (click)="deleteUsuario(usuario.id)">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
    </table>
</div>
