header {
    background: linear-gradient(90deg, #1e1e1e, #e51d36);
    background-size: 200% 200%;
    animation: gradientAnimation 30s infinite;    
    color: #ecf0f1;
    padding: 15px 20px;
    display: flex;
    height: 65px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.header-content {
    display: flex;
    align-items: center;
    gap: 15px; 
    margin-left: auto; 
}

.logo {
    height: 70px;
    position: absolute;
    left: 10px;  
    top: 10px;   
    z-index: 100;
    border-radius: 90px;
}

/* .login-container {
    max-width: 400px; 
    margin: 50px auto; 
    padding: 20px; 
    background-color: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
} */

.user-management {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.back-button {
    padding: 8px 16px;
    background-color: var(--color-neutro); 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-delete {
    background-color: var(--color-btn-red);
    color: black;
}
.btn-delete:hover {
    background-color: var(--hover-btn-red);
}

.btn-edit {
    background-color: var(--color-btn-orange);
    color: black;
}
.btn-edit:hover {
    background-color: var(--hover-btn-orange);
}

.btn-show {
    background-color: var(--color-btn-gray);
    color: black;
}
.btn-show:hover {
    background-color: var(--hover-btn-gray);
}

/* .user-management h1 {
    font-size: 24px;
    margin-bottom: 20px;
} */

.search-bar {
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    padding: 8px;
    font-size: 16px;
    border-radius: 28px;
    width: 400px;
    border: 1px solid #ddd; /* revisar el color */
}

.search-bar button {
    padding: 8px 16px;
    background-color: var(--color-btn-green);
    color: black; 
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.search-bar button:hover {
    background-color: var(--hover-btn-green); 
}

.user-table {
    background-color: var(--color-surface);
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.user-table th, .user-table td {
    padding: 10px;
    text-align: left;
}

tbody {
    background-color: var(--color-surface-light);
}

button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #0073e6;/* revisar colores */
    color: white;
    border: none;
    border-radius: 4px;
}

.filter-container {
    margin: 1rem 0;
}

select {
    padding: 0.5rem;
    border-radius: 4px;
    background-color: #0073e6;/* revisar colores */
    color: white;
    border: 1px solid #333;/* revisar colores */
}

select option {
    background-color: #1e1e1e;/* revisar colores */
    color: white;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination-controls button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #0073e6;/* revisar colores */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pagination-controls button[disabled] {
    background-color: #555; /* revisar colores */
    cursor: not-allowed;
}

.pagination-controls button:hover:not([disabled]) {
    background-color: #005bb5; /* revisar colores */
}