<div class="user-management">
    <div class="header-container">
        <button class="back-button" (click)="goBack()">
            <i class="pi pi-arrow-left"></i> Volver
        </button>
        <h1>Gestión de Usuarios</h1>
    </div>
    <div class="search-bar">
        <input type="text" [(ngModel)]="searchQuery" placeholder="Buscar usuario..." (keyup.enter)="searchUsuarios()"/>
        <button (click)="toggleFilter()" [class.active]="showFilter">
            <i class="pi pi-filter"></i>{{ showFilter ? 'Todos' : 'Solo Artistas' }}
        </button>
        <button (click)="newUser()">
            <i class="pi pi-plus">
                Añadir Usuario
            </i>
        </button>
    </div>
    
    <table class="user-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="body-table">
            @for(usuario of paginatedUsuarios; track usuario){
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.roles && usuario.roles.length > 0 ? usuario.roles[0].nombre : 'Sin rol' }}</td>                    <td>
                        <button (click)="editUsuario(usuario)">Editar</button>
                        <button (click)="deleteUsuario(usuario.id)">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="pagination-controls">
        <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
        <span>Página {{ currentPage }} de {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
    </div>
</div>