<header>
    <div class="header-content">
        <img src="assets/images/onyxtunes.jpg" alt="OnyxTunes Logo" class="logo" />
    </div>
</header>
  
<main>
    <div class="select-access-container">
        <h2>Bienvenido de nuevo a OnyxTunes, ¿qué desea hacer?</h2>
        <div class="button-container">
        <button (click)="navigateTo('home')">Reproducir música</button>
        <button (click)="navigateTo('platformManagement')">Gestión de la plataforma</button>
        </div>
    </div>
</main>