<div class="settings-container">
    <app-sidebar></app-sidebar>
    <main>
        <h2>Configuración</h2>
        <form (ngSubmit)="saveChanges()">
            <div class="profile-photo-container">
                @if(user.foto_perfil) {
                    <img [src]="user.foto_perfil" alt="Foto de perfil" />
                    @if(errorMessages) {
                        @if(errorMessages.foto_perfil) {
                            <p class="error">{{ errorMessages.foto_perfil }}</p>
                        }
                    }
                }
                
                <div>
                    <label for="fileInput" class="upload-label">Cambiar la foto de perfil</label>
                    <input
                        id="fileInput"
                        type="file"
                        (change)="onFileSelected($event)"
                        class="hidden"
                    />
                </div>
            </div>

            <div class="form-columns">
                <div class="column">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" [(ngModel)]="user.nombre" name="nombre" required />
                    @if(errorMessages) {
                        @if(errorMessages.nombre) {
                            <p class="error">{{ errorMessages.nombre }}</p>
                        }
                    }

                    <label for="nickname">Nombre de usuario:</label>
                    <input type="text" id="nickname" [(ngModel)]="user.nickname" name="nickname" required />
                    @if(errorMessages) {
                        @if(errorMessages.nickname) {
                            <p class="error">{{ errorMessages.nickname }}</p>
                        }
                    }

                    <label for="email">Correo electrónico:</label>
                    <input type="email" id="email" [(ngModel)]="user.email" name="email" required />
                    @if(errorMessages) {
                        @if(errorMessages.email) {
                            <p class="error">{{ errorMessages.email }}</p>
                        }
                    }

                    <label for="fecha_nacimiento">Fecha de nacimiento:</label>
                    <input type="date" id="fecha_nacimiento" [(ngModel)]="user.fecha_nacimiento" name="fecha_nacimiento" required />
                    @if(errorMessages) {
                        @if(errorMessages.fecha_nacimiento) {
                            <p class="error">{{ errorMessages.fecha_nacimiento }}</p>
                        }
                    }
                </div>

                <div class="column">
                    <label for="direccion">Dirección:</label>
                    <input type="text" id="direccion" [(ngModel)]="user.direccion" name="direccion" />

                    <label for="genero">Género:</label>
                    <select id="genero" [(ngModel)]="user.genero" name="genero">
                        <option value="Femenino">Femenino</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Otro">Otro</option>
                    </select>
                    @if(errorMessages) {
                        @if(errorMessages.genero) {
                            <p class="error">{{ errorMessages.genero }}</p>
                        }
                    }

                    <label for="phone">Teléfono:</label>
                    <input type="text" id="phone" [(ngModel)]="user.telefono" name="phone" />
                    @if(errorMessages) {
                        @if(errorMessages.telefono) {
                            <p class="error">{{ errorMessages.telefono }}</p>
                        }
                    }

                    <div class="recommendations-section">
                        <label for="recommendations">Recibir recomendaciones:</label>
                        <input type="checkbox" id="recommendations" name="recommendations" [(ngModel)]="recommendationsEnabled" (change)="toggleRecommendations()" />                        
                        <p class="recommendations-description">Recibe recomendaciones personalizadas basadas en tus gustos musicales</p>
                    </div>
                </div>
            </div>

            <button type="submit">Guardar cambios</button>

        </form>
        @if(successMessage) {
            <p class="success">{{ successMessage }}</p>
        } 
        @if(errorMessage) {
            <p class="error">{{ errorMessage }}</p>
        }   
    </main>
</div>