<div class="change-password-container">
    <app-sidebar></app-sidebar>
    <main>
        <h2>Cambiar Contraseña</h2>
  
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="currentPassword">Contraseña Actual:</label>
            <div class="input-group">
                <input 
                  [type]="showCurrentPassword ? 'text' : 'password'" 
                  id="currentPassword" 
                  [(ngModel)]="currentPassword" 
                  name="currentPassword" 
                  required 
                />
                <i 
                  class="pi" 
                  [ngClass]="showCurrentPassword ? 'pi-eye-slash' : 'pi-eye'" 
                  (click)="toggleCurrentPasswordVisibility()" 
                  style="cursor: pointer;">
                </i>
              </div>
            </div>
      
          <div class="form-group">
            <label for="newPassword">Nueva Contraseña:</label>
            <div class="input-group">
                <input 
                  [type]="showNewPassword ? 'text' : 'password'" 
                  id="newPassword" 
                  [(ngModel)]="newPassword" 
                  name="newPassword" 
                  required 
                />
                <i 
                  class="pi" 
                  [ngClass]="showNewPassword ? 'pi-eye-slash' : 'pi-eye'" 
                  (click)="toggleNewPasswordVisibility()" 
                  style="cursor: pointer;">
                </i>
              </div>
          </div>
      
          <div class="form-group">
            <label for="confirmPassword">Confirmar Nueva Contraseña:</label>
            <div class="input-group">
                <input 
                  [type]="showConfirmPassword ? 'text' : 'password'" 
                  id="confirmPassword" 
                  [(ngModel)]="confirmPassword" 
                  name="confirmPassword" 
                  required 
                />
                <i 
                  class="pi" 
                  [ngClass]="showConfirmPassword ? 'pi-eye-slash' : 'pi-eye'" 
                  (click)="toggleConfirmPasswordVisibility()" 
                  style="cursor: pointer;">
                </i>
              </div>
          </div>

          @if (errorMessage) {
            <div class="error">{{ errorMessage }}</div>
          }
          @if (successMessage) {
            <div class="success">{{ successMessage }}</div>
          }
      
          <button type="submit">Cambiar Contraseña</button>
        </form>
    </main>
</div>