<header>
    <div class="header-content">
        <img src="assets/images/onyxtunes.jpeg" alt="OnyxTunes Logo" class="logo" />

        <div class="btn-auth">
            <button (click)="goToLogin()">Iniciar Sesión</button>
            <button (click)="goToRegister()">Registrarte</button>    
        </div>
    </div>
</header>
  
<main>
    <div class="section-left">
        <h2>Artistas:</h2>
        <app-list-artist-landing></app-list-artist-landing>
    </div>
    <div class="section-right">
        <h2>Canciones populares</h2>
        <ul>
            @for(cancion of topCanciones; track cancion){
                <li><strong>{{ cancion.titulo }}</strong>
                    <br><p>Total de reproducciones: {{ cancion.total_reproducciones }}</p>
                </li>
            }
        </ul>
        <h2>Álbumes populares</h2>
        <ul>
            @for(album of topAlbums; track album){
                <li>{{ album.titulo }} - {{ album.total_reproducciones }}</li>
            }
        </ul>
        <h2>Listas populares</h2>
        <ul>
            @for(lista of topPlaylists; track lista){
                <li>{{ lista.titulo }} - {{ lista.total_reproducciones }}</li>
            }
        </ul>
    </div>
</main>

<footer>
    <p>Regístrate para disfrutar de todas las características que ofrece la plataforma</p>
    <button (click)="goToRegister()">Registrarse</button>
</footer>