<header>
  <div class="header-content">
    <img src="assets/images/onyxtunes.jpg" alt="OnyxTunes Logo" class="logo" />

    <div class="btn-auth">
      <button (click)="goToLogin()">Iniciar Sesión</button>
      <button (click)="goToRegister()">Registrarte</button>
    </div>
  </div>
</header>

<main>
  <div class="section-left">
    <h2>Artistas populares</h2>
    <div class="top-artists-container">
        @for (artist of topArtists; track artist) {
          <div class="artist-card">
            <img src="{{ artist.foto_perfil }}" alt="{{ artist.nombre }}" class="artist-image" />
            <p class="artist-name">{{ artist.nombre }}</p>
          </div>
        }
    </div>
  </div>
  <div class="section-right">
    <h2>Canciones populares</h2>
    <div class="carousel-container">
      <button class="prev" (click)="scrollCarousel(-1)">❮</button>
      <div class="carousel">
        @for (cancion of topCanciones; track cancion) {
          <div class="song-card">
            <img src="{{ cancion.portadaURL ? cancion.portadaURL : 'assets/images/songs_Default.png' }}" alt="{{ cancion.titulo }}" class="song-image" />
            <p class="song-title">{{ cancion.titulo }}</p>
          </div>
        }
      </div>
      <button class="next" (click)="scrollCarousel(1)">❯</button>
    </div>

    <h2>Álbumes populares</h2>
    <div class="carousel-container">
      <button class="prev" (click)="scrollCarousel(-1)">❮</button>
      <div class="carousel">
        @for (album of topAlbums; track album) {
          <div class="song-card">
            <img src="{{ album.portadaURL ? album.portadaURL : 'assets/images/songs_Default.png' }}" alt="{{ album.titulo }}" class="song-image" />
            <p class="album-title">{{ album.titulo }}</p>
          </div>
        }
      </div>
      <button class="next" (click)="scrollCarousel(1)">❯</button> 
    </div>

    <h2>Listas populares</h2>
    <ul>
      @for (lista of topPlaylists; track lista) {
        <li>{{ lista.titulo }} - {{ lista.total_reproducciones }}</li>
      }
    </ul>
  </div>
</main>

<footer>
  <p>
    Regístrate para disfrutar de todas las características que ofrece la
    plataforma
  </p>
  <button (click)="goToRegister()">Registrarse</button>
</footer>
