<div class="platform-management">
    <h1>Gestión de la Plataforma</h1>
    <div class="management-sections">
        <div class="section">
            <button (click)="navigateTo('userManagement')">
                <h2>Gestión de Usuarios</h2>
                <img src="assets/images/gestion-de-usuarios.jpg" class="image">
                <p>Administrar Usuarios</p>
            </button>
        </div>
        <div class="section">
            <button (click)="navigateTo('artistManagement')">
                <h2>Gestión de Artistas</h2>
                <img src="assets/images/gestion-de-artistas.jpg" class="image">
                <p>Administrar Artistas</p>
            </button>
        </div>
        <div class="section">
            <button (click)="navigateTo('albumsManagement')">
                <h2>Gestión de Álbumes</h2>
                <img src="assets/images/gestion-de-albumes.jpg" class="image">
                <p>Administrar Álbumes</p>
            </button>
        </div>
    </div>
</div>
