.platform-management {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.platform-management h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.management-sections {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.section {
    flex: 1 1 30%;
    text-align: center;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.section button {
    position: relative;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    color: white;
}

.section:hover {
    transform: scale(1.05);
}

.image {
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.2s;
}

.section:hover .overlay {
    opacity: 1;
}

.overlay h2 {
    font-size: 18px;
    margin: 0;
}

.overlay p {
    margin: 5px 0 0;
    font-size: 16px;
}


.management-sections .section .image.artist-role {
    width: 80%;
    height: auto;
    margin: 0 auto;
}