.platform-management {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.platform-management h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.management-sections {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.section {
    flex: 1 1 30%;
    padding: 20px;
    text-align: center;
}

.section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.section button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #333;
    transition: background-color 0.3s;
    text-align: center;
}

.section button:hover {
    background-color: #005bb5;
    transform: scale(1.05);
}

.image {
    width: 80%;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
    transition: transform 0.2s;
}

.section:hover .image {
    transform: scale(1.05);
}
