<header>
    <div class="header-content">
        <img src="assets/images/onyxtunes.jpeg" alt="OnyxTunes Logo" class="logo" />
    </div>
</header>

<main>
    <div class="genres-management">
        <div class="header-container">
            <button class="back-button" (click)="goBack()">
                <i class="pi pi-arrow-left"></i> Volver
            </button>
            <h1>Gestión de Géneros</h1>
            <button (click)="view()">
                {{ mostrarGeneros ? 'Ver Canciones' : 'Ver Géneros' }}
            </button>
        </div>

        @if(mostrarGeneros) {
            <div class="search-bar">
                <input type="text" [(ngModel)]="searchQuery" placeholder="Buscar género..." (keyup.enter)="searchGenres()"/>
                <button (click)="newGenero()">
                    <i class="pi pi-plus"></i> Añadir Género
                </button>
            </div>

            <div class="genres-section">
                <h2>Lista de Generos</h2>
                <table class="genres-table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(genero of paginatedGeneros; track genero){
                            <tr>
                                <td>{{ genero.nombre || 'Sin nombre' }}</td>
                                <td>
                                    <button (click)="editGenero(genero)">Editar</button>
                                    <button (click)="deleteGenero(genero.id)">Eliminar</button>
<!--                                     <button (click)="showGenero(genero)">Ver Detalles</button>
 -->                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="pagination-controls">
                    <button (click)="prevGenresPage()" [disabled]="currentGenerosPage === 1">Anterior</button>
                    <span>Página {{ currentGenerosPage }} de {{ totalGenerosPages }}</span>
                    <button (click)="nextGenresPage()" [disabled]="currentGenerosPage === totalGenerosPages">Siguiente</button>
                </div>
            </div>
        }

    </div>
</main>