.sidebar {
    border-radius: 20px; /* Bordes redondeados */
    color: white; /* Color de texto */
    height: 90%; /* Altura completa */
}

.inicio-busqueda {
    background-color: #1f1f1f; /* Color de fondo general */
    padding: 15px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    margin-bottom: 20px; /* Espacio entre la sección de inicio/busqueda y la biblioteca */
}

.biblioteca {
    background-color: #1f1f1f; /* Color de fondo general */
    padding: 45px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    height: 65%; /* Altura completa */

}

.sidebar h2 {
    margin-bottom: 20px; /* Espacio inferior */
}

.sidebar button {
    background-color: #007BFF; /* Color de fondo azul */
    color: white; /* Color de texto blanco */
    border: none; /* Sin borde */
    padding: 10px 15px; /* Espaciado interno */
    text-align: center; /* Centrar texto */
    text-decoration: none; /* Sin subrayado */
    display: block; /* Mostrar como bloque */
    width: 100%; /* Ancho completo */
    margin-bottom: 10px; /* Espacio entre botones */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

.sidebar button:hover {
    background-color: #0056b3; /* Color de fondo más oscuro al pasar el mouse */
}

/* Estilo específico para los botones en la sección "Tu Biblioteca" */
.biblioteca button {
    margin-bottom: 15px; /* Aumenta el margen inferior para separar los botones */
}