
<div class="sidebar">
    <img src="assets/images/onyxtunes.jpg" alt="OnyxTunes Logo" class="logo" />

    <!-- <div class="menu">
        <button (click)="navigateToHome()">Inicio</button>
        <button (click)="navigateToSearch()">Buscar</button>
        <button (click)="navigateToLibrary()">Biblioteca</button>
        <button (click)="navigateToManagement()">Gestión</button>
    </div> -->
    <div class="inicio-busqueda">
        <button (click)="navigateToHome()">Inicio</button>
        <button (click)="navigateToSearch()">Buscar</button>    
    </div>
    <div class="biblioteca">
        <div class="header-biblioteca">
            <h2>Tu Biblioteca:</h2>
            <button (click)="addPlaylist()" class="add-button">Añadir</button>
        </div>
        <ul>
            @for(playlist of playlists; track playlist){
                <li>
                    <button (click)="navigateToPlaylist(playlist)">
                        {{ playlist.nombre }}
                    </button>
                </li>
            }
        </ul>

        @if (favoritePlaylists.length > 0) {
            <div class="header-biblioteca">
                <h3>Playlists Guardadas:</h3>
            </div>
            <ul>
                @for (favoritePlaylist of favoritePlaylists; track favoritePlaylist) {
                    <li>
                        <button (click)="navigateToPlaylist(favoritePlaylist)" class="playlist-button">
                            <img [src]="favoritePlaylist.portadaURL ? favoritePlaylist.portadaURL : 'assets/images/playlist_Default.png'"
                                alt="{{ favoritePlaylist.nombre }}"
                                class="playlist-cover" />
                                <p class="title">{{ favoritePlaylist.nombre }}</p>
                        </button>
                    </li>
                }
            </ul>
        } @else {
            <p>No tienes playlists guardadas aún.</p>
        }

    </div>
</div>