<div class="registro-container">
    <div class="registro">
        <img src="assets/images/onyxtunes.jpeg" alt="OnyxTunes Logo" class="logo" />
        @if(step === 1){
            <h2>Regístrate para empezar a escuchar contenido</h2>
            <form (ngSubmit)="nextStep()">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" [(ngModel)]="registerData.nombre" name="nombre" required>
        
                <label for="email">Correo Electrónico</label>
                <input type="email" id="email" [(ngModel)]="registerData.email" name="email" required>
        
                <button type="button" (click)="nextStep()">Siguiente</button>
            </form>
        }
        
        @if(step === 2){
            <div class="header-step">
                <button type="button" (click)="previousStep()">
                    <i class="pi pi-angle-left"></i>
                </button>
                <h3>Paso 2 de 3</h3>
                <h2>Crear una contraseña</h2>
            </div>
            <form (ngSubmit)="nextStep()">
                <label for="password">Contraseña</label>
                <input type="password" id="password" [(ngModel)]="registerData.password" name="password" required>
                <button type="button" (click)="nextStep()">Siguiente</button>
            </form>
        }
        
        @if(step === 3){
            <div class="header-step">
                <button type="button" (click)="previousStep()">
                    <i class="pi pi-angle-left"></i>
                </button>
                <h3>Paso 3 de 3</h3>
                <h2>Relleno de Datos Personales</h2>
            </div>
            <form (ngSubmit)="submitForm()">
                <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                <input type="date" id="fecha_nacimiento" [(ngModel)]="registerData.fecha_nacimiento" name="fecha_nacimiento" required>
        
                <label for="genero">Género</label>
                <select id="genero" [(ngModel)]="registerData.genero" name="genero">
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                    <option value="otro">Otro</option>
                </select>
                
                <button type="submit">Registrarse</button>
            </form>
        }
    </div>    
</div>