<div class="profile-container">
    <h2>Perfil</h2>

    <h3>Artistas más escuchados:</h3>
    <ul>
        <li *ngFor="let artist of mostListenedArtists">{{ artist.nombre }}</li>
    </ul>

    <h3>Canciones más escuchadas:</h3>
    <ul>
        <li *ngFor="let song of mostListenedSongs">{{ song.titulo }}</li>
    </ul>

    <h3>Listas públicas:</h3>
    <ul>
        <li *ngFor="let playlist of publicPlaylists">{{ playlist.nombre }}</li>
    </ul>

    <h3>Seguidores:</h3>
    <ul>
        <li *ngFor="let follower of followers">{{ follower.nombre }}</li>
    </ul>
</div>