<div class="container">
    <app-sidebar></app-sidebar>
    <main>
        <app-account-button></app-account-button>
        <h2>Escuchado recientemente</h2>
        <h2>Especialmente para ti</h2>
        @if (recommendationPlaylist?.length > 0) {
            <div class="playlist-container">
                @for (playlist of recommendationPlaylist; track playlist) {
                    <div class="playlist-card">
                        @if (playlist?.id) {
                            <button (click)="togglePlaylistMenu(playlist.id)">Opciones</button>
                            @if (menuOpen && selectedPlaylistId === playlist.id) {
                                <div class="menu">
                                    <button (click)="toggleShowPlaylists()">Añadir Canciones</button>
                                    @if (showPlaylists) {
                                        <h3>Selecciona una playlist</h3>
                                        <ul>
                                            @for (playlist of userPlaylists; track playlist) {
                                                <li>
                                                    <input type="radio" name="playlistSeleccionada" [value]="playlist.id" (change)="selectTargetPlaylist(playlist.id)">
                                                    {{ playlist.nombre }}
                                                </li>
                                            }
                                        </ul>
                                        <button (click)="confirmAddSongs()">Añadir</button>
                                    }
                                    <button (click)="savePlaylist(playlist.id)">Guardar en Biblioteca</button>
                                </div>
                            }
                        }
                        <img [src]="playlist.portadaURL ? playlist.portadaURL : 'assets/images/playlist_Default.png'" [alt]="playlist.nombre" class="playlist-cover"/>
                        <h3>{{ playlist.nombre }}</h3>
                        <button (click)="navigateToPlaylist(playlist)">Ver Playlist</button>

                    </div>
                }
            </div>
        }
        <h2>Nueva Música</h2>
        <div class="carousel-container">
            <button class="prev" (click)="scrollLeft()">&#9664;</button>
            <div class="songs-wrapper">
                <div class="songs-container">
                    @for (cancion of cancionesNuevas; track cancion) {
                        <div class="song-card">
                            <button>Opciones</button>
                            <img src="{{ cancion.portadaURL ? cancion.portadaURL : 'assets/images/songs_Default.png' }}" alt="Portada de {{ cancion.titulo }}" class="cover-image"/>
                            <p class="song-title">{{ cancion.titulo }}</p>
                            <p class="song-artist" (click)="goToArtistPage(cancion.artista.id)">{{ cancion.artista.nombre }}</p>
                            <button (click)="navigateToSong(cancion)">Escuchar</button>
                            @if (cancion?.id) {
                                @if (userLikes.includes(cancion.id)) {
                                    <button (click)="deleteLike(cancion)">Eliminar Like</button>
                                } @else {
                                    <button (click)="addToFavorites(cancion)">
                                        Agregar a Favoritos
                                    </button>
                                }
                            }

                        </div>
                    }
                </div>
            </div>
            <button class="next" (click)="scrollRight()">&#9654;</button>
        </div>

        <h2>Descubre música por géneros</h2>
        @if (playlistsPorGenero.length) {
            <div class="playlists-container">
                @for (playlist of playlistsPorGenero; track playlist) {
                    <div class="playlist-card">
                        <img [src]="playlist.portadaURL ? playlist.portadaURL : 'assets/images/playlist_Default.png'" [alt]="playlist.nombre" class="playlist-cover"/>
                        <h3>{{ playlist.nombre }}</h3>
                        <p>{{ playlist.descripcion }}</p>
                        <button (click)="navigateToPlaylist(playlist)">Ver Playlist</button>
                    </div>
                }
            </div>
        } @else {
            <p>No hay playlists disponibles por género.</p>
        }

        @if(successMessage) {
            <p class="success">{{ successMessage }}</p>
        }
        @if(errorMessage) {
            <p class="error">{{ errorMessage }}</p>
        }
        <app-player></app-player>
    </main>
</div>