.container {
    display: flex;
    flex-direction: row; 
    height: 100vh; 
}

app-sidebar {
    width: 450px; 
    background-color: var(--color-sidebar);
    padding: 20px; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
}

main {
    flex: 1; 
/*     background-color: #ecf0f1; 
 */    padding: 20px; 
    overflow-y: auto;
}
