<header>
    <div class="header-content">
        <img src="assets/images/onyxtunes.jpeg" alt="OnyxTunes Logo" class="logo" />
        <button (click)="navigateTo('home')">
            <i class="pi pi-home" style="font-size: 1.5rem"></i>
        </button> 
        <input
            type="text"
            placeholder="Desea reproducir algo..."
            [(ngModel)]="searchTerm"
            (input)="searchArtists()"
        />
    </div>
</header>
  
<main>
    <div class="section-left">
        <h2>Tu Biblioteca:</h2>
        <ul>
            @for(playlist of playlists; track playlist){
                <li>
                    <button (click)="navigateToPlaylist(playlist)">
                        {{ playlist.nombre }}
                    </button>
                </li>
            }
        </ul>
    </div>
    <div class="section-right">
        <h2>Álbumes populares</h2>
        <ul>
            @for(album of albumes; track album){
                <li>{{ album }}</li>
            }
        </ul>
        <h2>Listas populares</h2>
        <ul>
            @for(lista of listas; track lista){
                <li>{{ lista }}</li>
            }
        </ul>
    </div>
</main>