<div class="user-management">
    <div class="header-container">
        <button class="back-button" (click)="goBack()">
            <i class="pi pi-arrow-left"></i> Volver
        </button>
        <h1>Gestión de Artistas</h1>
    </div>
    <div class="search-bar">
        <input type="text" [(ngModel)]="searchQuery" placeholder="Buscar usuario..." (keyup.enter)="searchArtistas()"/>
        <button (click)="newArtista()">
            <i class="pi pi-plus">
                Añadir Artista
            </i>
        </button>
    </div>
    
    <table class="artista-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="body-table">
            @for(artista of paginatedArtistas; track artista){
                <tr>
                    <td>{{ artista.id }}</td>
                    <td>{{ artista.nombre }}</td>
                    <td>{{ artista.email }}</td>
                    <td>
                        <button (click)="editArtista(artista)">Editar</button>
                        <button (click)="deleteArtista(artista.id)">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="pagination-controls">
        <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
        <span>Página {{ currentPage }} de {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
    </div>
</div>