<div class="available-roles">
  <h3>Roles Disponibles</h3>
  <ul>
    @for(rol of rolesDisponibles; track rol){
      <li>
        {{ rol.nombre }}
        <button (click)="addRole(rol)" [disabled]="rol.selected">Añadir</button>
      </li>
    }
  </ul>
</div>

<div class="user-roles">
  <h3>Roles de Usuario</h3>
  <ul>
    @for(rol of selectedRoles; track rol){
      <li>
        {{ rol.nombre }}
        <button (click)="removeRole(rol)">Eliminar</button>
      </li>
    }
  </ul>
</div>
<button (click)="actualizarRoles()">Actualizar Rol</button>