.user-account {
    position: relative; 
}

.account-button {
    position: fixed;
    top: 10px;
    right: 10px; 
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

.menu {
    position: absolute; 
    top: 90%; 
    right: 0; 
    background-color: #222;
    border: 1px solid #444;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: max-content;
    z-index: 1001; 
}

.menu button {
    padding: 10px;
    color: #ddd;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.menu button:hover {
    background-color: #333;
    color: white;
}