PORT=9292
WEBSOCKETPORT="8090"

DB_USER=
DB_PASSWORD=

URL="http://localhost"
FRONT_URL="http://localhost:4200"

DB_DEV=onyxtunes
DB_PROD=onyxtunes
DB_TEST=onyxtunes

MAIL_USER=
MAIL_PASSWORD=
MAIL_CLIENT_ID=
MAIL_CLIENT_SECRET=
MAIL_REFRESH_TOKEN=
MAIL_ACCESS_TOKEN=

#IDs for rols
ID_ROL_ADMIN=1
ID_ROL_USER=2
ID_ROL_ARTISTA=3

DB_DIALECT="mysql"
DB_HOST="localhost"
DB_PORT=3306
DB_MAXCONNECTIONS=5

SECRETORPRIVATEKEY=eST0EsmiPiblic@key

# tables
TABLA_USUARIO="usuario"
TABLA_ROL="rol"
TABLA_HISTORIAL="historial"
TABLA_ALBUM="album"
TABLA_PLAYLIST="playlist"
TABLA_CANCION="cancion"
TABLA_SEGUIDORES="seguidores"
TABLA_CANCION_PLAYLIST="cancion_playlist"
TABLA_GENERO="genero"
TABLA_COMENTARIO_REACCION="comentario_reaccion"
TABLA_USUARIO_CANCION="usuario_cancion"
TABLA_USUARIO_ALBUM="usuario_album"
TABLA_USUARIO_PLAYLIST="usuario_playlist"
TABLA_GENERO_CANCION="genero_cancion"
TABLA_LIKE="like"
TABLA_MENSAJE="mensaje"
TABLA_ASSET="asset"
TABLA_REPRODUCCIONES="reproducciones"
TABLA_PREFERENCES_ENTIDADES="preferences_entidades"
TABLA_PREFERENCES="preferences"