PORT=9292
WEBSOCKETPORT="8090"

DB_HOST="localhost"
DB_USER="root"
DB_PASSWORD="1234"

URL="http://localhost"
FRONT_URL="http://localhost:4200"

DB_DEV="onyxTunes"
DB_PROD="onyxTunes"
DB_TEST="onyxTunes"

MAIL_USER=
MAIL_PASSWORD=
MAIL_CLIENT_ID=
MAIL_CLIENT_SECRET=
MAIL_REFRESH_TOKEN=
MAIL_ACCESS_TOKEN=

#IDs for rols
ID_ROL_ADMIN=1
ID_ROL_USER=2
ID_ROL_ARTISTA=3

DB_DIALECT="mysql"
DB_HOST="localhost"
DB_PORT=3306
DB_MAXCONNECTIONS=5

SECRETORPRIVATEKEY=eST0EsmiPiblic@key

# tables
TABLA_USUARIO="usuario"
TABLA_ROL="rol"
TABLA_ROL_USUARIO="rol_usuario"
TABLA_HISTORIAL="historial"
TABLA_ALBUMES="album"
TABLA_PLAYLIST="playlist"
TABLA_CANCION="cancion"
TABLA_SEGUIDORES="seguidores"
TABLA_SEGUIDOS="seguidos"
TABLA_GENERO="genero"
TABLA_COMENTARIO_REACCION="comentario_reaccion"
TABLA_USUARIO_CANCION="usuario_cancion"
TABLA_USUARIO_ALBUM="usuario_album"
TABLA_GENERO_CANCION="genero_cancion"