.playlist-container {
    display: flex;
    height: 100vh; 
    overflow: hidden; 
}

app-sidebar {
    width: 450px; 
    background-color: var(--color-sidebar);
    color: #ecf0f1; 
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
    gap: 15px;
    font-size: 16px;
    position: sticky; 
    top: 0;
    height: 100%;
}

main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist-content {
    max-width: 900px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #1e1e1e;  
    border-radius: 8px;
    overflow: hidden;
}

thead th {
    text-align: left;
    background-color: #333;  
    color: white;
    padding: 12px;
    font-weight: 600;
    border-bottom: 1px solid #444; 
}

tbody td {
    padding: 12px;
    color: #ddd;
}

tbody tr {
    background-color: #242424; 
    transition: background-color 0.3s ease;
}

tbody tr:hover {
    background-color: #292929; 
}

button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}

button:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #972f2f;
    text-align: center;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    color: #6d2828;
    margin-top: 20px;
}

p {
    font-size: 16px;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
}
