<div class="update-genres">

    <h2>Actualizar Géneros</h2>

    <form (ngSubmit)="onSubmit()">
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" [(ngModel)]="genero.nombre" name="nombre" required />
        </div>
        <button type="submit">Actualizar Género</button>
        @if(successMessage) {
            <p class="success">{{ successMessage }}</p>
        }
        @if(errorMessage) {
            <p class="error">{{ errorMessage }}</p>
        }
    </form>
</div>