<div class="chat-list">
    <h2>Lista de Receptores</h2>

    @if (receptores && receptores.length > 0) {
        <div>
            <ul>
                @for (receptor of receptores; track receptor.id) {
                    <li>
                        <p>{{ receptor.nickname }}</p> 
                        <button (click)="goToChat(receptor)">Iniciar Chat</button>
                    </li>
                }
            </ul>
        </div>
    }

    <ng-template #noReceptores>
    <p>No hay receptores disponibles.</p>
    </ng-template>
</div>