@if (recommendedSong) {
    <div><!-- Añadir portada de la cancion recomendada -->
        <h2>{{ recommendedSong.songRecommendation.titulo }}</h2>
        <p><strong>Artista:</strong>{{ artistName }}</p>
        <p><strong>Duración:</strong>{{ recommendedSong.songRecommendation.duracion }}</p>

        <button (click)="toggleRecommendation()">
            {{ isEnabled ? 'Desactivar Recomendaciones' : 'Activar Recomendaciones' }}
        </button>

        @if(successMessage) {
            <p class="success-message">{{ successMessage }}</p>
        }
    </div>
}