.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}

.login {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    background-color: var(--color-surface);
}

.logo {
    height: 80px;
    width: auto;
    border-radius: 15px;  
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
.custom-select {
  color: white;
  padding: 15px;
  background-color: var(--color-surface-light);
}

button {
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background: linear-gradient(45deg, #e51d36, #1e1e1e);
    color: white;
    transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
    background: linear-gradient(45deg, #1e1e1e, #e51d36);
    transform: scale(1.05);
}

.error-message {
    color: #ff6b6b;
    font-size: 0.875em;
    margin-top: 5px;
}