<div class="form-container">
    <h2>Actualizar Usuario</h2>
    <form (ngSubmit)="onSubmit()" #updateUserForm="ngForm">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="usuario.nombre">
            @if(errorMessage && !usuario.nombre){
                <div class="text-danger">
                    {{errorMessage}}
                </div>
            }
        </div>
        <div class="form-group">
            <label for="email">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="usuario.email">
            @if(errorMessage && !usuario.email){
                <div class="text-danger">
                    {{errorMessage}}
                </div>
            }
            
        </div>

        <div class="form-group">
            <label for="roles">Roles Actuales</label>
            <input type="text" class="form-control" id="roles" name="roles" [value]="getCurrentRoles()" disabled>
            <button type="button" (click)="toggleRoleSelection()">Modificar Roles</button>
        </div>

        @if(showRoles){
            <div class="form-group">
                <label for="roles">Roles Disponibles</label>
    
                @for(rol of roles; track rol){
                    <div>
                        <input type="checkbox" 
                               [value]="rol.id" 
                               [(ngModel)]="rol.selected" 
                               name="rol-{{rol.id}}">
                        {{ rol.nombre }}
                    </div>
                }
            </div> 
        }
             
        @if(errorMessage && !hasSelectedRoles()){
            <div class="text-danger">
                {{errorMessage}}
            </div>
        }

        <button type="submit" class="btn btn-primary">Actualizar Usuario</button>
    </form>

    @if(message){
        <div class="text-success">
            {{ message }}
        </div>
    }
</div>
