.create-song-details {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre los elementos */
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.duracion-container {
    display: flex;
    gap: 10px; /* Espacio entre los campos de tiempo */
}

.duracion-container input[type="number"] {
    width: 80px; /* Ancho fijo para los campos de horas, minutos y segundos */
    text-align: center; /* Centrar el texto dentro de los campos */
}

.genero-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 10px; /* Espacio entre columnas */
}

.genero-item {
    display: flex;
    align-items: center; /* Alinear checkbox y label verticalmente */
}

.genero-item input {
    margin-right: 5px; /* Espacio entre el checkbox y el texto */
}