<div class="create-song-details">
    <h2>Añadir Nueva Canción</h2>

    <label for="titulo">Título:</label>
    <input id="titulo" type="text" [(ngModel)]="nuevaCancion.titulo" required />

    <label for="artista">Artista:</label>
    <input 
        id="artista" 
        type="text" 
        [(ngModel)]="nuevaCancion.artista" 
        (input)="filterArtistas($event)"
        (focus)="onFocus()"
        (blur)="onBlur()" 
        required 
        placeholder="Escribe el nombre del artista" 
    />
    @if (showArtistas && artistasFiltrados.length > 0) {
        <ul>
            @for (artista of artistasFiltrados; track artista) {
                <li (click)="selectArtista(artista)">
                    {{ artista.nombre }}
                </li>
            }
        </ul>
    }

    <label for="album">Álbum:</label>
    <input id="album" type="text" [(ngModel)]="nuevaCancion.album" required />

    <label>Duración:</label>
    <div class="duracion-container">
        <input type="number" [(ngModel)]="horas" placeholder="Horas" min="0" />
        <input type="number" [(ngModel)]="minutos" placeholder="Minutos" min="0" max="59" />
        <input type="number" [(ngModel)]="segundos" placeholder="Segundos" min="0" max="59" />
    </div>

    <label for="generos">Géneros</label>
    <div class="genero-container">
        @for (genero of generosDisponibles; track genero) {
            <div class="genero-item">
                <input type="checkbox" 
                [value]="genero" (change)="toggleGenre(genero)" 
                [checked]="generosSeleccionados.includes(genero)"/>
                {{genero.nombre}}
            </div>
        }
    </div>

    <button (click)="crearCancion()">Crear Canción</button>
    <button (click)="ref.close()">Cancelar</button>
</div>