<header>
   <div class="header-content">
       <img src="assets/images/onyxtunes.jpg" alt="OnyxTunes Logo" class="logo" />
   </div>
</header>
 
<main>
   <form (submit)="onSubmit()">
      <div>
         <label for="newPassword">Nueva Contraseña:</label>
         <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
      </div>
      <div>
         <label for="confirmPassword">Confirmar Contraseña:</label>
         <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
      </div>
      <button type="submit">Restablecer Contraseña</button>

      @if(successMessage) {
         <p class="success">{{ successMessage }}</p>
      }
  </form>
</main>