.confirmation-dialog {
    padding: 20px;
    text-align: center;
    color: white;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 20px;
}

:host ::ng-deep .p-button-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

:host ::ng-deep .p-button-danger:hover {
    background-color: #bb2d3b;
    border-color: #bb2d3b;
}