/* @import "./theme.css"; */
/* @import 'quill/dist/quill.snow.css';

@import '@fortawesome/fontawesome-free/css/all.min.css'; */
@import '../node_modules/primeicons/primeicons.css';
:root {
    display: flex;
    flex-direction: column;
    background-color: black;
}

html, body {
    min-height: 100vh; 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
