<div class="search-container">
  <app-sidebar></app-sidebar>
  <main>
    <div>
      <input [(ngModel)]="query" placeholder="Buscar..." />
      <button (click)="search()">Buscar</button>

<!--       <select [(ngModel)]="selectedFilter">
          <option value="all">Todo</option>
          <option value="songs">Canciones</option>
          <option value="playlists">Playlists</option>
          <option value="artists">Artistas</option>
          <option value="albums">Álbumes</option>
      </select> -->
    </div>

    @if (results) {
      <div>
        @if (results.songs.length > 0) {
          <h3>Canciones:</h3>
          <ul>
            @for (song of results.songs; track song) {
              <li>
                {{ song.titulo }}
                <button (click)="playSong(song)">Reproducir</button>
               @if (hasLikedSong(song.id)) {
                <button (click)="deleteLike(song.id, 'Cancion')">Eliminar Like</button>
              } @else {
                <button (click)="addToFavorites(song)">Agregar a Favoritos</button>
              }
              </li>
            }
          </ul>
        }

        @if (results.playlists.length > 0) {
          <h3>Listas de Reproducción:</h3>
          <ul>
            @for (playlist of results.playlists; track playlist) {
              <li>
                {{ playlist.nombre }}
              </li>
            }
          </ul>
        }

        @if (results.artists.length > 0) {
          <h3>Artistas:</h3>
          <ul>
            @for (artist of results.artists; track artist) {
              <li>
                <a (click)="viewArtist(artist.id)">{{ artist.nombre }}</a>
              </li>
            }
          </ul>
        }

        @if (results.albums.length > 0) {
          <h3>Álbumes:</h3>
          <ul>
            @for (album of results.albums; track album) {
              <li>
                {{ album.titulo }}
              </li>
            }
          </ul>
        }

        @if (
          results.songs.length === 0 &&
          results.playlists.length === 0 &&
          results.artists.length === 0 &&
          results.albums.length === 0
        ) {
          <p>No se ha encontrado nada.</p>
        }
      </div>
    }
    <app-player></app-player>
  </main>
</div>
